// Header
header {
	// background-color: transparent;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	transition: box-shadow 0.3s ease-out;

	&::after {
		content: "";
		height: 100%;
		width: 100%;
		background: rgba(255, 255, 255, 0.7);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		backdrop-filter: saturate(180%) blur(5px);
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			img {
				width: 115px;
			}
		}

		ul.products {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: opacity 0.3s ease-out;

			li {
				padding: 8px 15px;
				color: $secondary-text-color;
				font-size: 14px;
				cursor: pointer;
				display: flex;
				align-items: center;

				.arrow {
					margin-left: 5px;
				}
			}
		}

		nav.auth {
			a {
				padding: 10px;
				color: $secondary-text-color;
				font-size: 14px;
			}
		}
	}
}
