* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #0a72ef;
}
::selection {
	background-color: #79fee0;
	color: #000;
}

img {
	display: block;
	width: 100%;
}

#globe {
	margin: 5rem 0;
	overflow: hidden;
	canvas {
		display: block;
		margin: 0 auto;
	}
}
