.container {
  max-width: 65rem;
  width: 65rem;
  margin: 0 auto;
}
.btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #000;
  &-small {
    font-size: 14px;
    font-weight: 500;
  }
  &-primary {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #000;
    }
  }
}
