.container {
	max-width: 65rem;
	width: 65rem;
	margin: 0 auto;
}
.container-fluid {
	max-width: 70rem;
	width: 70rem;
	margin: 0 auto;
}
.btn {
	border-radius: 5px;
	border: 1px solid #000;
	&-small {
		font-size: 14px;
		font-weight: 500;
		padding: 6px 12px;
	}
	&-large {
		font-size: 16px;
		font-weight: 500;
		height: 50px;
		width: 200px;
		//padding: 0.85rem 2rem;
	}
	&-primary {
		background-color: #000;
		color: #fff;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			background-color: #fff;
			color: #000;
		}
	}
	&-secondary {
		background-color: #fff;
		color: #666;
		transition: all 0.3s;
		border: 1px solid #eaeaea;
		&:hover {
			cursor: pointer;
			border: 1px solid #000;
			color: #000;
		}
	}
	&-auth {
		border: 0;
		color: #fff;
		display: block;
		padding: 12px 0;
		width: 100%;
		position: relative;
		margin-bottom: 7px;

		> img {
			width: 20px;
			position: absolute;
			left: 22px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.github {
	background-color: #24292e;
}
.gitlab {
	background-color: #6b4fbb;
}
.bitbucket {
	background-color: #0052cc;
}

.flex {
	display: flex;
	&.justify-center {
		justify-content: center;
	}
	&.align-center {
		align-items: center;
	}
	&.flex-column {
		flex-direction: column;
	}
}
.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.grid {
	display: grid;
	grid-gap: 20px;
	&.gap-50 {
		grid-gap:50px;
	}
	&-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&-9 {
		grid-template-columns: repeat(9, 1fr);
	}
	&-4 {
		grid-template-columns: repeat(4, 1fr);
	}
}

h1.large-heading {
	font-weight: 700;
	letter-spacing: -0.05em;
	font-size: 3.75rem;
	text-align: center;
}
.normal-heading {
	letter-spacing: -0.05em;
	font-size: 2rem;
	text-align: center;
	font-weight: 700;
}

h3.small-heading {
	font-size: 1.5rem;
	letter-spacing: -0.05em;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

h4.small-caps {
	font-size: 12px;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

p {
	font-size: 1rem;
	line-height: 1.6;
	letter-spacing: -0.02em;
	color: #666666;
}

@for $i from 1 through 5 {
	.m-#{$i} {
		margin: #{$i}rem;
	}
	.mr-#{$i} {
		margin-right: #{$i}rem;
	}
	.mt-#{$i} {
		margin-top: #{$i}rem;
	}
	.ml-#{$i} {
		margin-left: #{$i}rem;
	}
	.mb-#{$i} {
		margin-bottom: #{$i}rem;
	}
	.mx-#{$i} {
		margin-right: #{$i}rem;
		margin-left: #{$i}rem;
	}
	.my-#{$i} {
		margin-top: #{$i}rem;
		margin-bottom: #{$i}rem;
	}
}
@for $i from 1 through 5 {
	.p-#{$i} {
		padding: #{$i}rem;
	}
	.pr-#{$i} {
		padding-right: #{$i}rem;
	}
	.pt-#{$i} {
		padding-top: #{$i}rem;
	}
	.pl-#{$i} {
		padding-left: #{$i}rem;
	}
	.pb-#{$i} {
		padding-bottom: #{$i}rem;
	}
	.px-#{$i} {
		padding-right: #{$i}rem;
		padding-left: #{$i}rem;
	}
	.py-#{$i} {
		padding-top: #{$i}rem;
		padding-bottom: #{$i}rem;
	}
}
